body{
    margin: 0;
    padding: 0;
}

.main{
    text-align: center;
    background-color: rgb(49, 49, 126);
    padding: 20px;
}

.container1{
    margin-bottom: 40px;
}

#form input{
    border-radius: 5px;
    border: 2px solid rgb(42, 22, 151);
}

#output{
    border: 2px solid rgb(42, 22, 151);
    background-color: aliceblue;
    width: fit-content;
    border-radius: 5px;
}

#dashboard{
    color: whitesmoke;
    text-align: left;
}
